.p__work{
    position: relative;
}

.p__work_section{
    padding: 3rem;

}

.p__work_cards{
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

@media screen and (max-width:768px) {
    .p__work_cards{
        gap: 2rem;
    }

    .p__work_section{
        padding: 2rem 3rem;
    }
}



@media screen and (max-width:425px) {
    .p__work_cards{
        gap: 1.5rem;
    }
}

