@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");


:root{

  --font-terminal: 'Roboto Mono', monospace;
  --font-base:'Poppins', sans-serif;
  --font-backboard: 'Rock Salt', cursive;

  --color-green: #1c342c;
  --color-white: #ffffff;
  --color-gray: #cad0cf;
  --color-yellow:#fab30c;
  --color-darkyellow:#c88f0a;
  --color-black:#000;
  --color-darkpurple:#1a1527;
}

html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  font-family: var(--font-base);
}

body{
  background: var(--color-green);
}

a{
  color: unset;
  text-decoration: none;
}

.instant-scroll {
  scroll-behavior: auto;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}